* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(images/bg-01.svg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-family: 'Cairo', sans-serif;
    position: relative;
}

.logo {
    position: absolute;
    top: 40px;
    right: 50px;
}

.logo img {
    width: 150px;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.7);
    width: 50%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .text {
    color: #0a81b8;
}

.container .text h1 {
    font-size: 50px;
}

.container .image img {
    width: 500px;
}

.container .social-media {
    margin: 50px 0;
}

.container .social-media a {
    color: white;   
}

.container .social-media a i {
    background: #0a81b8;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}

@media screen and (max-width: 991px) {
    .logo {
        top: 20px;
        right: 50%;
        transform: translateX(50%);
    }

    .logo img {
        width: 100px;
    }

    .container .text h1 {
        font-size: 30px;
    }

    .container .image {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .container .image img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .logo img {
        width: 100px;
    }

    .container .text h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 540px) {
    .logo img {
        width: 100px;
    }

    .container {
        width: 70%;
    }

    .container .text h1 {
        font-size: 15px;
    }
}